header { /* меняем стиль заголовков */
    color: cyan;
}

p { /* стиль абзацев */
    font-size: 25px;
}

.center { /* class="center" */
    text-align: center;
}

.italic {
    font-style: italic;
}

.fontChange {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#img { /* id="img" */
    background-image: url("sillycat.jpg");
}

#clr {
    background-color: firebrick;
}

div { /* div стиль */
    padding: 3px;
    margin: auto;
    border: 10px;
    width: 600px;
    height: 600px;
    overflow: visible;
}
